.hero {
    display: flex;
    justify-content: flex-start;
    gap: 80px;

    width: 100%;
    height: 696px;
    background-image: url("/images/Picture.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.blokTitle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    width: 571px;
    height: 176px;
    margin: 260px 0 0 64px;

}

.title {
    font-weight: 600;
    font-size: 48px;

    line-height: 0.66667;
    color: var(--inputs);
    margin-bottom: 16px;
}

.text {
    font-weight: 600;
    font-size: 24px;

    line-height: 1.33333;
    color: var(--inputs);
}

.buttonHero {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    border-radius: 200px;
    padding: 16px 60px;
    width: 100%;
    height: 56px;

    background-color: var(--button);
}