* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-geist-sans, system-ui, sans-serif);
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.5;
}

h2 {
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --font-family: "Inter", sans-serif;
}

:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

/* Inter Medium 248
   Inter Regular 181
   Inter Semi Bold 99 */